coverage: &Coverage |
  npm install
  npm run coverage
  mv flow-coverage $CIRCLE_ARTIFACTS

version: 2
jobs:
  build:
    machine:
      node:
        version: 8.9.4
    steps:
      - checkout
      - run: *Coverage
